@model List<CommentListComponentViewModel>


@foreach (var item in Model)
{
    <div class="alert alert-info" role="alert">
        <div style="padding-left:1%;">
            @item.Comment
            <div style="text-align:right;">
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <div class="row">
                            Freelancer: @item.freelancerName
                        </div>
                        <div class="row">
                            User: @item.userName
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
         
    </div>
}