

<form asp-controller="Home" asp-action="AddMoney" method="post">
    <div class="row gx-5">
        @*<div class="col-4">
            <label name="Money" class="form-label">Money</label>
        </div>*@
        <div class="col-8">
            <input name="Money" class="form-control" type="number" placeholder="Type" />
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-outline-primary">Add</button>
        </div>
    </div>
</form>