@model FreelancerWebApp.Models.job

@{
    ViewData["Title"] = "Create";
}



<div class="container">
    <h1>Create New Job Post</h1>
</div>


@*<hr />
<div class="container">
    <div class="container-md" style="padding: 5% 20% 0% 20%">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Job_Title" class="control-label"></label>
                <input asp-for="Job_Title" class="form-control" />
                <span asp-validation-for="Job_Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Job_Category" class="control-label"></label>
                <input asp-for="Job_Category" class="form-control" />
                <span asp-validation-for="Job_Category" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Job_Description" class="control-label"></label>
                <input asp-for="Job_Description" class="form-control" type="text"/>
                <span asp-validation-for="Job_Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Offered_Price" class="control-label"></label>
                <input asp-for="Offered_Price" class="form-control" />
                <span asp-validation-for="Offered_Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
<div class="container py-4">
    <div class="jumbotron">
        <div class="p-5 mb-4 bg-light rounded border border-dark">
            <div class="container-fluid py-5">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Job_Title" class="control-label"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Job_Title" class="form-control" placeholder="Type Job Title" />
                            <span asp-validation-for="Job_Title" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2">
                            <label asp-for="Job_Category" class="control-label"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Job_Category" class="form-control" placeholder="Type Job Category(Software, Text, Graphic Design)"/>
                            <span asp-validation-for="Job_Category" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2">
                            <label asp-for="Job_Description" class="control-label"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Job_Description" class="form-control" type="text" placeholder="Explain Job, Type Something about it"/>
                            <span asp-validation-for="Job_Description" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2">
                            <label asp-for="Offered_Price" class="control-label"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Offered_Price" class="form-control" placeholder="Enter Reward for the job"/>
                            <span asp-validation-for="Offered_Price" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2">
                            <label asp-for="Day" class="control-label"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Day" class="form-control" placeholder="Enter Limit Day(Type as a day)" />
                            <span asp-validation-for="Day" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2">
                            <label asp-for="Owner_ID" class="control-label"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Owner_ID" class="form-control" placeholder="Owner_ID" disabled/>
                            <span asp-validation-for="Owner_ID" class="text-danger"></span>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2">
                            <label asp-for="Freelancer_ID" class="control-label"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Freelancer_ID" class="form-control" placeholder="Freelancer_ID" disabled/>
                            <span asp-validation-for="Freelancer_ID" class="text-danger"></span>
                        </div>
                        
                        <div class="col-sm-4"></div>
                        <div class="col-sm-11"></div>
                        <div class="col-sm-1">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <button class="btn btn-outline-dark btn-primary" type="button"><a class="text-light" asp-action="Index">Back to List</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
