@*@model FreelancerWebApp.Models.job*@

@{
    ViewData["Title"] = "Create Job";
}
@model JobAddViewModel

<div class="container">
    <div class="row gx-5">
        <div class="col-lg-8 mb-5 mb-lg-0 my-0">
            <div class="likecontainer">
                <div class="text-center">
                    <h1>Post A Job</h1>
                    <h4>Explain whatever you need to complete your job</h4>
                    <hr />
                </div>
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="my-3">
                        <label asp-for="Job_Category" class="control-label">Category of Job</label>
                    </div>
                    <div class="my-1">
                        <!--<input asp-for="Job_Category" class="form-control" placeholder="Type Job Category(Software, Text, Graphic Design)" />-->
                        <select asp-for="Job_Category" asp-items="@ViewBag.ColorSet" class="form-select">
                            <option value="">Select Category </option>
                        </select>
                        <span asp-validation-for="Job_Category" class="text-danger"></span>
                    </div>
                    <div class="my-2">
                        <label asp-for="Job_Title" class="control-label">Title of Job</label>
                    </div>
                    <div class="my-1">
                        <input asp-for="Job_Title" class="form-control" placeholder="Type Job Title" />
                        <span asp-validation-for="Job_Title" class="text-danger"></span>
                        <p class="text-muted">~Summarise the job shortly</p>
                    </div>
                    <div class="my-2">
                        <label asp-for="Job_Description" class="control-label" id="floatingTextarea">Description of Job</label>
                    </div>
                    <div class="my-1 form-floating">
                        <textarea asp-for="Job_Description" class="form-control" placeholder="Explain Job, Type Something about it" id="floatingTextarea" style="height:100px"></textarea>
                        <label for="floatingTextarea" class="text-muted">Description</label>
                        <span asp-validation-for="Job_Description" class="text-danger"></span>
                        <p class="text-muted">~Summarise the job shortly</p>
                    </div>

                    <div class="row gx-5 my-1">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div>
                                <label asp-for="Offered_Price" class="control-label">Price</label>
                            </div>
                            <div>
                                <input asp-for="Offered_Price" class="form-control" placeholder="Enter Reward for the job" />
                                <span asp-validation-for="Offered_Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <div>
                                <label asp-for="Day" class="control-label">Limit Day</label>
                            </div>
                            <div>
                                <input asp-for="Day" class="form-control" placeholder="Enter Limit Day(Type as day)" />
                                <span asp-validation-for="Day" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-5 mb-lg-0"></div>
                        <div class="col-lg-3 mb-5 mb-lg-0 my-3">
                            @*<input type="submit" value="Create" class="btn btn-primary" />*@
                        </div>
                        <div>
                            <input asp-for="Owner_ID" class="form-control" placeholder="Owner_ID" value="@ViewBag.userid" hidden />
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="Freelancer_ID" class="form-control" placeholder="Freelancer_ID" value="0" hidden />
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="Deliver_File_Path" class="form-control" placeholder="Deliver_File_Path" value="0" hidden />
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="Publish_Date" class="form-control" placeholder="Publish_Date" value="@ViewBag.dateNow" hidden type="text"/>
                        </div>
                        <div class="col-sm-3">
                            <input asp-for="Job_Photo_Path" class="form-control" placeholder="Job_Photo_Path" value="0" hidden type="text" />
                        </div>
                    </div>
                    <div class="my-3">
                        <div>
                            <label asp-for="File" class="control-label">Photo</label>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <input type="file" asp-for="JobImage" class="btn btn-light btn-md" />
                                <p class="text-muted">~The photo should be example of the work</p>
                            </div>
                            <div class="col-3">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    @*<div class="row gx-5 my-3">
                        <div class="col-lg-9 mb-5 mb-lg-0 my-3">
                        </div>
                        <div class="col-lg-3 mb-5 mb-lg-0 my-3">
                            
                        </div>
                    </div>*@
                </form>
            </div>

        </div>
        <div class="col-lg-4 mb-5 mb-lg-0 my-5">
            <div class="likecontainer">
                <div class="text-center">
                    <h3 class="text-center">Usefull Tips</h3>
                    <h4> </h4>
                    <hr />
                </div>
                <p><strong>1.</strong> Select A Category. Should matches with your job.</p>
                <p><strong>2.</strong> Explain job in as much as detail. It will increase quality of post so Freelancers can understand it much better. At the end, you will receive more complete result.</p>
                <p><strong>3.</strong> Match requirements of your job and price of it. Otherwise you may get worse result than you think.</p>
                <br />
                <br />
                <br />
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row my-0">
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <button class="btn btn-outline-dark btn-success" type="button"><a class="text-white" asp-action="Index">Back to List</a></button>
                </div>
                <div class="col-sm-0"></div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .likecontainer {
        padding: 25px;
        box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
        border-radius: 30px;
        background-color: #ffffff;
    }
</style>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}
