@{
    ViewData["Title"] = "Inbox";
}

@*@model IEnumerable<FreelancerWebApp.Models.inbox>*@

<div class="container">
    @if (TempData["alert"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["alert"]
        </div>
    }
    <partial name="~/PartialViews/_inboxListPartialView.cshtml" model="@ViewBag.inboxesListViewModel" />
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <button class="btn btn-outline-success"><a class="nav-link text-black" asp-controller="message" asp-action="createChat">Start Chat</a></button>
        </div>
    </div>
</div>
